<title>Overall</title>
<%= render 'layouts/data_form', table: @null_order, headers: @headers[1], datum: @datum %>
<%= render 'layouts/data_form', table: @null_bakery, headers: @headers[2], datum: @datum %>
<%= render 'layouts/data_form', table: @null_recipient, headers: @headers[3], datum: @datum %>
<%= render 'layouts/data_form', table: @null_delivery, headers: @headers[0], datum: @datum %>
<%= render 'layouts/dynamic_data_table', data: @data, headers: @headers %>