<tr class="<%= datum.id %>">
<!-- <td><a class="toggle-row">Show/Hide</a></td> -->

<!-- BEGIN ITERATION -->
<% datum.attributes.each do |key,val|%>

<% if datum == @datum %>
  <td style="background-color:#FFA">
<% else %>
  <td>
<% end %>
    
    <% if val.nil? %>
    <% elsif key == "bakery_id"%>
    <%= link_to val, bakery_path(val) %>
    <% elsif key == "recipient_id" %>
    <%= link_to val, recipient_path(val) %>
    <% elsif key == "delivery_id" %>
    <%= link_to val, delivery_path(val) %>
    <% elsif key == "order_id" %>
    <%= link_to val, order_path(val) %>
    <% else %>
      <% if val.is_a?(ActiveSupport::TimeWithZone) %>
        <% if key.include?('date') %>
          <span class="date">
            <%= val %>
          </span>
        <% else %>
          <span class="time">
            <%= val %>
          </span>
        <% end %>
      <% else %>
      <%= val %>
      <% end %>
    <% end %>
  </td>
  <% end %>
<!-- END ITERATION -->

<td>
  <% if controller_name=="deliveries" && !datum.order.nil? && !datum.order.recipient.nil? && !datum.order.recipient.address.nil? %>
    <%= datum.order.recipient.address.toString %>        
  <% end %>
</td>

<% if !@transitions.empty? %>
  <td> 
    <% @transitions[datum.state.to_sym].each do |transition| %>
      <%= link_to transition, {controller: controller_name, action: 'transition', id: datum.id, transition: transition}, method: :post %>
    <br>
    <% end %>
  </td>
<% end %>

<td><%= link_to "edit", {controller: controller_name, action: 'edit', id: datum.id }, method: :get %></td>
<td><%= link_to "delete", datum, method: :delete %></td>

</tr>