<div class="container">
  <div class="row">
   <div class="col-lg-12">
     <div id="toggle-attribute-list" class="button-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>Toggle Visible Attributes</button>
      <br>
      <ul class="dropdown-menu">
        <% headers.each do |header| %>
          <% header.each do |key, val| %>
          <li>
            <a href="#" class="small" data-value="<%= val.name %>" tabIndex="-1">
              <% if (val.name).in?(@visible) %>
                <input type="checkbox" checked/>
              <% else %>
                <input type="checkbox"/>
              <% end %>
              <%= val.name %>
            </a>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>

<table class="table table-bordered table-striped" id="main-table">
  <thead>
    <tr>
      <!--<th>SHOW/HIDE</th>-->
      <% headers.each do |header| %>
      <% header.each do |key, val| %>
        <th id="<%= val.name %>" class="hide-col">
          <%= val.name %>
        </th> 
      <% end %>
      <% end %>
      
      <% if controller_name=="deliveries" %>
        <th>
          address
        </th>
      <% end %>
     </tr>
  </thead>
  <tbody>
    <% data.each do |datum| %>
      <%= render 'layouts/data_row', datum: datum, headers: headers %>
    <% end %>
  </tbody>
</table>