<div id="show-col" class="hidden"><h4>Hidden Tags</h4></div>
<div id="sort-order">
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <% headers.each do |header| %>
      <% header.each do |key, val| %>

      <% if (val.name).in?(@visible) %>
      <th id="<%= val.name %>" class="hide-col">
        <% else %>
        <th id="<%= val.name %>" class="hide-col hidden-col">
          <% end %>
          <a>
            <%= val.name %>
          </a>
        </th> 
        <% end %>
        <% end %>
        <% if controller_name=="deliveries" %>
        <th>
         address
       </th>
       <% end %>
     </tr>
   </thead>
   <tbody>
    <% if data.any? %>
    <% data.each do |datum| %>
    <tr class="<%= datum.id %>">

      <td><a class="toggle-row">Show/Hide</a></td>

      <%= render 'layouts/data_row', datum: datum %> 

      <td>
        <% if controller_name=="deliveries" && !datum.order.nil? && !datum.order.recipient.nil? && !datum.order.recipient.address.nil? %>
        <%= datum.order.recipient.address.toString %>        
        <% end %>
      </td>

      <% if !@transitions.empty? %>
      <td> 
        <% @transitions[datum.state.to_sym].each do |transition| %>
        <%= link_to transition, {controller: controller_name, action: 'transition', id: datum.id, transition: transition}, method: :post %>
        <br>
        <% end %>
      </td>
      <% end %>

      <td><%= link_to "edit", {controller: controller_name, action: 'edit', id: datum.id }, method: :get %></td>
      <td><%= link_to "delete", datum, method: :delete %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>