<div id="show-col"><h3>Hidden Tags</h3></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <% headers.each do |header| %>
      <% header.each do |key, val| %>
      <th class="toggle-col">
        <a>
          <%= val.name %>
        </a>
      </th> 
      <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if data.any? %>
    <% data.each do |datum| %>
    <tr class="<%= datum.id %>">
      
      <td><a class="toggle-row">Show/Hide</a></td>

      <%= render 'layouts/data_row', datum: datum %> 
      <%= render 'layouts/data_row', datum: datum.order || @null_order %>
      <%= render 'layouts/data_row', datum: datum.bakery || @null_bakery %>
      <%= render 'layouts/data_row', datum: datum.recipient || @null_recipient %>

      <td><%= link_to "edit", datum, method: :get %></td>
      <td><%= link_to "delete", datum, method: :delete %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>