<div class="form-group row">

  <label class="control-label col-sm-2"><%= val.name %></label>
  <div class="col-sm-10">
    <% if val.name == "id" || val.type == :datetime%>
      <%= f.text_field val.name, :value => datum_value(datum, val), :readonly => true, :class => "form-control" %>
    <% elsif val.type == :string || val.type == :integer || val.type == :float %>
      <%= f.text_field val.name, :value => datum_value(datum, val), :class => "for m-control" %>
    <% elsif val.type == :date %>
      <%= f.date_field val.name, :value => datum_value(datum, val), :class => "form-control" %>
    <% elsif val.type == :time %>
      <%= f.time_field val.name, :value => datum_value(datum, val), :class => "form-control" %>
    <% elsif val.type == :boolean%>  
      <%= f.check_box val.name, :value => datum_value(datum, val) %>
  <% end %>
  </div>    
</div>